<title>
<meta> description or author
<meta> charset utf-8
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">What Mythical Creature Are You?</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">First Name</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Johnny Appleseed">
        </div>
        <div class="form-group">
          <label for="input_dropdown">Favorite Color</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>Blue</option>
            <option>Green</option>
            <option>Black</option>
            <option>Yellow</option>
            <option>Purple</option>
            <option>Orange</option>
            <option>Red</option>
            <option>Pink</option>
            <option>Brown</option>
            <option>Grey</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_select">Favorite Type of Food</label>
          <select multiple class="form-control" name="input_select" id="input_select">
            <option>Soul Food</option>
            <option>Chinese Food</option>
            <option>American Food</option>
            <option>Mediterranean Food</option>
            <option>Seafood</option>
            <option>Cajun Food</option>
            <option>Mexican Food</option>
            <option>Italian Food</option>
            <option>Caribbean Food</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_freeform">Zodiac Sign</label>
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

